@media screen and (max-width:576px){
    main,
    body{
        width: 100%;
    }
    .Desk-nav{
        display: none;
    }
    .nav-mobile{
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }
    .Tittle-Section{
        width: 90%;
    }
    .Tittle-Section,
    .Highlight{
        flex-direction: column;
    }
    .Tittle-Section img{
        width: 100%;
        margin-top: 3.125rem;
    } 
    .info-player{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 1.25rem;
    }
    .Highlight{
        width: 90%;
        margin: 0 auto;
    }
    .Highlight-p{
        width: 100%;
    }
    .Highlight-title{
        font-size: 1.875rem;
    }
    .Highlight img{
        width: 100%;
        margin-top: 1.875rem;
    }
    .Tittle-Section-title{
        font-size: 2.25rem;
        margin-top: 1.25rem;
    }
    footer{
        width: 90%;
    }
    .fooball-img img{
        width: 100%;
        margin-top: -6.25rem;
    }
    .footer-img img{
        width: 2rem;
        height: 2rem;
        margin: 0 auto;
    }
}